parameters:
    level: 3

    treatPhpDocTypesAsCertain: false

    paths:
        - src/

    ignoreErrors:
        -
            message: "#^Property Bugsnag\\\\Handler\\:\\:\\$reservedMemory is never read, only written\\.$#"
            count: 1
            path: src/Handler.php
